body {
  font-family: 'Libre Baskerville',
    serif;
    background-image: url('../img/sign.jpg');
    background-position: center;
    background-size: cover;
}

.ticket-cost {
  color: white;
  text-align: center;

}

.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.col-12 {
  padding: 50px;
}

h1 {
  margin: 50px 0;
  font-size: 4.5rem;
}

h2 {
  margin-top: 50px
}
